@{
    ViewBag.Title = "About";
}
<style>
    h3, h1 {
        color: #3366ff;
    }
</style>

<h1> Who We Are?</h1>

    <ul>
        <li>
           <b>    NAJJAR is the Syria leading provider of technology for reservoir characterization, drilling and production.​</b>
        </li>
        <li>
            <b>NAJJAR aspires to work in all Syrian governorates and to achieve leadership at local and international levels depending on the expertise of specialized engineers with work experience more than ten years in this field. ​</b>
        </li>
        <li>
            <b>       NAJJAR also has a range of industry-wide products and services from exploration to production, to a better treatment of pipes that improve hydrocarbons, which in turn achieve the best performance of the tank.​​</b>
        </li>
    </ul>
<h1>Company Goals</h1>
<ul>
    <li>
        <b> Values, integrity and applying standard methods in the work are our main objectives , we are primarily interested in satisfaction of our customers, achieving the full requirements and always being available the possible places to provide full services to them.​​</b>
    </li>
    <li>
        <b>Training  number of Syrian national cadres by hands of experts and specialists in the field of oil industry, thus contribute in creating new job opportunities for Syrian youth and in the diversity of the labor force.​​</b>
    </li>

    <li>
        <b>Contributing in raising the Syrian national economy by increasing the contribution of the oil sector and securing the needs of the local market of petroleum derivatives.​​​</b>
    </li>
    <li>
        <b>Highlight the international role of the Syrian country and strengthen its role in regional and international organizations in the field of oil and industry   </b>
    </li>
</ul>
<h1>Company Future Prospects​</h1>
<ul>
    <li>
        <b> Values, integrity and applying standard methods in the work are our main objectives , we are primarily interested in satisfaction of our customers, achieving the full requirements and always being available the possible places to provide full services to them.​​</b>
    </li>
    <li>
        <b>Training  number of Syrian national cadres by hands of experts and specialists in the field of oil industry, thus contribute in creating new job opportunities for Syrian youth and in the diversity of the labor force.​​</b>
    </li>

    <li>
        <b>Our approach to sustainability is rooted in a long-standing culture of global social and environmental stewardship.
​​​</b>
    </li>
    <li>
        <b>We seek for long-term sustainability in our work by introducing new innovations to improve oil and gas production and to try to revive other non-renewable materials with high efficiency, considering the effects of environmental damage which we will try to alleviate them as much as possible.
   </b>
    </li>
</ul>