@{
    ViewBag.Title = "Company Goals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ServicesPageStyle.css" rel="stylesheet" />

<div class="row contClass">
    <h1 style="margin-left:30%;margin-right:30%; font-weight:700;"> Company Goals </h1>
</div>
<br />

<div class="row contClass" style="margin-left:1%">
    <div class="col-md-11 col-sm-11" >
        <br />
        <ul class="list-group">
            <li>
                <b> Values, integrity and applying standard methods in the work are our main objectives , we are primarily interested in satisfaction of our customers, achieving the full requirements and always being available the possible places to provide full services to them.​​</b>
            </li>
            <li>
                <b>Training  number of Syrian national cadres by hands of experts and specialists in the field of oil industry, thus contribute in creating new job opportunities for Syrian youth and in the diversity of the labor force.​​</b>
            </li>

            <li>
                <b>Contributing in raising the Syrian national economy by increasing the contribution of the oil sector and securing the needs of the local market of petroleum derivatives.​​​</b>
            </li>
            <li>
                <b>Highlight the international role of the Syrian country and strengthen its role in regional and international organizations in the field of oil and industry   </b>
            </li>
        </ul>
    </div>
   
</div>


