@{
    ViewBag.Title = "Company Future Prospects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ServicesPageStyle.css" rel="stylesheet" />

<div class="row contClass">
    <h1 style="margin-left:20%;margin-right:20%; font-weight:700;"> Company Future Prospects </h1>
</div>
<br />

<div class="row contClass" style="margin-left:1%">
    <div class="col-md-11 col-sm-11" >
        <br />
        <ul class="list-group">
            <li>
                <b> Values, integrity and applying standard methods in the work are our main objectives , we are primarily interested in satisfaction of our customers, achieving the full requirements and always being available the possible places to provide full services to them.​​</b>
            </li>
            <li>
                <b>Training  number of Syrian national cadres by hands of experts and specialists in the field of oil industry, thus contribute in creating new job opportunities for Syrian youth and in the diversity of the labor force.​​</b>
            </li>

            <li>
                <b>
                    Our approach to sustainability is rooted in a long-standing culture of global social and environmental stewardship.
                </b>
            </li>
            <li>
                <b>
                    We seek for long-term sustainability in our work by introducing new innovations to improve oil and gas production and to try to revive other non-renewable materials with high efficiency, considering the effects of environmental damage which we will try to alleviate them as much as possible.
                </b>
            </li>
        </ul>
    </div>
   
</div>


