@{
    ViewBag.Title = "Renting Cranes";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Rough Terrain Cranes
                <small>Tadano Crane</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Cranes</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="~/Images/cran1.jpg" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h3>Mobile Crane</h3>
            <p>Compact cranes with single cab for both driving and lifting operation.
                This compact model has maneuverability capable of accessing narrow
                specs with all wheel steering, and can be driven on rough or
                uneven terrain with all wheel driving.</p>
            <table>
                <tbody>
                    <tr>
                        <td style="font-weight:bold"> Max. load capacity </td>
                        <td style="text-align:center"> 70 t </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold"> At radius</td>
                        <td style="text-align:center">3 m </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Telescopic boom from </td>
                        <td style="text-align:center"> 11.5 m </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold"> Telescopic up to</td>
                        <td style="text-align:center">44.0 m </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold"> Lattice jib from </td>
                        <td style="text-align:center">9.9m </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Lattice jib up to  </td>
                        <td style="text-align:center">17.7m </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Drive engin/make  </td>
                        <td style="text-align:center">Mitsubishi </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Drive engin </td>
                        <td style="text-align:center">6 Cylinder-Diesel </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Driver engin/Power  </td>
                        <td style="text-align:center"> 200 KW</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Number of axels </td>
                        <td style="text-align:center">2 </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold"> Drive/Steering standard</td>
                        <td style="text-align:center">4 x 4 </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Driving speed </td>
                        <td style="text-align:center"> 39 Km/h</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Total ballast </td>
                        <td style="text-align:center"> N/A</td>
                    </tr>
                </tbody>
            </table>
            <hr style="height:1.5px;border:none;color:#333;background-color:#333;" />

            <h4>To get the service please contract us on :</h4>
            

               
                <p><i class="fa fa-phone"></i> <abbr title="Phone">Tel</abbr>: +963 41 243224</p>
                <p><i class="fa fa-phone"></i> <abbr title="Phone">Mobile</abbr>: +963 996 666 237</p>
                <p><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a href="Ask@najjaroilfield.com">Ask@najjaroilfield.com</a></p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-page"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li class="tooltip-social linkedin-link"><a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-company-page"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li class="tooltip-social google-plus-link"><a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-page"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                </ul>
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">High level of flexibility and movability</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/cran2.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/cran3.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/cran4.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/cran5.jpg" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>