@{
    ViewBag.Title = "HSE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ServicesPageStyle.css" rel="stylesheet" />

<div class="row contClass">
    <h1 style="margin-left:30%;margin-right:30%; font-weight:700;"> HSE </h1>
</div>
<br />

<div class="row contClass" style="margin-left:1%">
    <div class="col-md-11 col-sm-11">
        <br />
        <ul class="list-group">
            <li> <b>The company will make regular tests for pipes, drilling shafts and welds, the disposal of waste of drilling fluids of all kinds will be in suitable ways that do not cause pollution of the environment.</b></li>
            <li>  <b>Solid waste management is also controlled, minimized, separated, treated and disposed of accordance with international standards.</b></li>
            <li> <b> The company seeks to take care of the health safety of employees, contractors and customers .it conducts regular inspections “We see safety as a priority for all”. </b></li>
            <li>  <b>We seek to ensure the safety of relationships with other companies, stakeholders and communities which we work with to build trust and ethical relationships ,in addition we will cooperate with environmental and other humanitarian organizations.</b></li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 img-fluid" style="margin-top:10%; margin-right:5%">
        <img src="" alt="This is image area" />
    </div>
</div>