
@{
    ViewBag.Title = "Hse_mngt_sys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        color: blue;
    }
</style>


<h1>HSE Management System</h1>

<p><p>The Najjar HSE Management System defines the principles by which we conduct our operations worldwide with regards to health, safety, and the environment.</p>
<p>Management communicates the HSE philosophy to all employees, customers, contractors, and third parties associated with our business, and each Najjar organization must provide positive evidence of conformance to the system.</p>
<p>The HSE Management System model comprises eight interrelated components: </p>
<ul>
    <li>commitment and leadership and accountability </li>
    <li>policies and objectives </li>
    <li>organization and resources </li>
    <li>contractor and supplier management </li>
    <li>risk management </li>
    <li>business processes </li>
    <li>performance monitoring and improvement </li>
    <li>audits and reviews.</li>
</ul>
<p>These are continuously improved by conformance checks </p>
<ul>
    <li>on day-to-day standards and procedures (controls) </li>
    <li>on the management system (correction) </li>
    <li>through modifications to the management system (improvement). </li>
</ul></p>

