
@{
    ViewBag.Title = "Hse_policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1{
        color:blue;
    }
</style>

<h1>HSE Policy Statement </h1>
<h2>Statement from Assad Al-abad, Najjar Chairman and Chief Executive Officer</h2>
<p><p>The long-term business success of Najjar depends on our ability to continually improve the quality of our services and products while protecting people and the environment. Emphasis must be placed on ensuring human health, operational safety, environmental protection, quality enhancement, and community goodwill. This commitment is in the best interests of our customers, our employees and contractors, our stockholders, and the communities in which we live and work.</p>
<p>Najjar requires the active commitment to, and accountability for, QHSE from all employees and contractors. Line management has a leadership role in the communication and implementation of, and ensuring compliance with, QHSE policies and standards. We are committed to </p>
<ul>
    <li>Protect, and strive for improvement of, the health, safety and security of our people at all times; </li>
    <li>Eliminate Quality non-conformances and HSE accidents; </li>
    <li>Meet specified customer requirements and ensure continuous customer satisfaction; </li>
    <li>Set Quality &amp; HSE performance objectives, measure results, assess and continually improve processes, services and product quality, through the use of an effective management system; </li>
    <li>Plan for, respond to and recover from any emergency, crisis and business disruption; </li>
    <li>Minimize our impact on the environment through pollution prevention, reduction of natural resource consumption and emissions, and the reduction and recycling of waste; </li>
    <li>Apply our technical skills to all HSE aspects in the design and engineering of our services and products; </li>
    <li>Communicate openly with stakeholders and ensure an understanding of our QHSE policies, standards, programs and performance. Reward outstanding QHSE performance; </li>
    <li>Improve our performance on issues relevant to our stakeholders that are of global concern and on which we can have an impact, and share with them our knowledge of successful QHSE programs and initiatives. </li>
</ul>
<p>This Policy shall be regularly reviewed to ensure ongoing suitability. The commitments listed are in addition to our basic obligation to comply with <a href="/about/codeofconduct">Najjar standards</a>, as well as all applicable laws and regulations where we operate. This is critical to our business success because it allows us to systematically minimize all losses and adds value for all our stakeholders.</p>
<p>
    Paal Kibsgaard<br />
    Chairman and Chief Executive Officer
</p>
