
@{
    ViewBag.Title = "Services";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color:inherit;
    }
    h2 {
        color: #3366ff;
    }

</style>
<h2>Tecnology-Across the life of your reservoir</h2>

<div class="services_BodyContent">
    <h2><a href="/services/seismic">Seismic</a></h2>
    <a href="/services/seismic/seismic-reservoir-characterization">Seismic Reservoir Characterization</a>
    |&nbsp;<a href="/services/seismic/geophysical-processing">
        Geophysical Processing
        &amp; Imaging
    </a> |&nbsp;<a href="/services/seismic/borehole_seis">Borehole Seismic</a> |&nbsp;<a href="/services/seismic/survey_design">Survey Design &amp; Modeling</a> |&nbsp;<a href="/services/seismic/unconventional_seismic">Seismic for Unconventionals</a>&nbsp;|  <a target="_blank" href="http://www.multiclient.westerngeco.com/">Multiclient Seismic Data Library</a>
    |&nbsp;<a target="_blank" href="http://www.software.slb.com/products/domains/Pages/geophysics.aspx">Geophysics Software</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/drilling">Drilling</a></h2>
    <a href="/services/drilling/wellhead-systems">Wellhead Systems</a> |&nbsp;<a href="/services/drilling/engineering_modeling">Engineering &amp; Real-Time Analysis</a> |&nbsp;<a href="/services/drilling/drilling_services_systems">Drilling Services &amp; Systems</a> |&nbsp;<a href="/services/drilling/mwd_lwd">LWD &amp; MWD</a> |&nbsp;<a href="/services/drilling/contract-drilling">Contract Drilling</a> |&nbsp;<a href="/services/drilling/drill_bits">Bits</a> |&nbsp;<a href="/services/drilling/tools_services">Tools &amp; Products</a> |&nbsp;<a href="/services/drilling/drilling_fluid">Fluids Systems &amp; Products</a> |&nbsp;<a href="/services/drilling/surface_logging">Surface Logging</a> |&nbsp;<a href="/services/drilling/solids_control">Solids Control &amp; Cuttings Management</a> |&nbsp;<a href="/services/drilling/fluids_processing">Fluids Processing</a> |&nbsp;<a href="/services/drilling/specialty_drilling_applications">Drilling Applications</a> |&nbsp;<a href="/services/drilling/cementing">Cementing</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/characterization">Characterization</a></h2>
    <a href="/services/characterization/petrophysics">Petrophysics</a> |&nbsp;<a href="/services/characterization/geology">Geology</a> |&nbsp;<a href="/services/characterization/geomechanics">Geomechanics </a>|&nbsp;<a href="/services/characterization/geophysics">Geophysics</a> |&nbsp;<a href="/services/characterization/reservoir">Reservoir Engineering</a> |&nbsp;<a href="/services/characterization/testing">Reservoir Testing</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/completions">Completions</a></h2>
    <a href="/services/completions/multistage_stimulation_systems">Multistage Stimulation Systems</a> |&nbsp;<a href="/services/completions/multilaterals">Multilateral Completion Systems</a> |&nbsp;<a href="/services/completions/wellwatcher">Permanent Monitoring Systems</a> |&nbsp;<a href="/services/completions/intelligent">Intelligent Completion Systems</a> |&nbsp;<a href="/services/completions/packers">Packers</a> |&nbsp;<a href="/services/completions/liner_hangers">Liner Hanger Systems</a> |&nbsp;<a href="/services/completions/fiv">Isolation Valves</a> |&nbsp;<a href="/services/completions/safety_valves">Safety Valves</a> |&nbsp;<a href="/services/completions/sand_control">Sand Control Services</a> |&nbsp;<a href="/services/completions/accessories">Completion Accessories</a> |&nbsp;<a href="/services/completions/completions">Completion Systems, Fluids, &amp; Tools</a> |&nbsp;<a href="/services/completions/perforating">Perforating</a> |&nbsp;<a href="/services/completions/stimulation">Stimulation</a> |&nbsp;<a href="/services/completions/subsea_landing_string">Subsea Landing String Services</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/subsea">Subsea</a></h2>
    <a href="/services/completions/subsea_landing_string">Subsea Landing String Services</a> |&nbsp;<a href="/services/production/artificial_lift/choosing-optimal-system/artificial_lift_applications/subsea_lift">Subsea Artificial Lift Systems</a>&nbsp;| <a target="_blank" href="https://www.onesubsea.slb.com">OneSubsea</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/production">Production</a></h2>
    <a href="/services/production/artificial_lift">Artificial Lift</a> |&nbsp;<a href="/services/production/production_logging">Production Logging</a> |&nbsp;<a href="/services/production/production_testing">Production Testing</a> |&nbsp;<a href="/services/production/monitoring">Production Monitoring</a> |&nbsp;<a href="/services/production/production_optimization">Production Optimization</a> |&nbsp; <a href="/services/production/corrosion_evaluation">Corrosion Evaluation and Monitoring</a> |&nbsp; <a href="/services/production/production-technologies-chemicals-treatments">Production Technologies: Chemicals &amp; Treatments</a>&nbsp;|&nbsp;<a href="/services/completions/perforating">Perforating</a> |&nbsp;<a target="_blank" href="https://www.software.slb.com/products/disciplines/prod-engineering">Production Software</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/processing-separation">Processing &amp; Separation</a></h2>
    <a href="/services/processing-separation/integrated-facilities">Integrated Facilities</a> |&nbsp;<a href="/services/processing-separation/oil-treatment">Oil Treatment</a> |&nbsp;<a href="/services/processing-separation/water-treatment">Water Treatment</a> |&nbsp;<a href="/services/processing-separation/gas-treatment">Gas Processing &amp; Treatment</a> |&nbsp;<a href="/services/processing-separation/solids-management">Solids Management</a>
</div>
<div class="services_BodyContent">
    <a href="/services/well_intervention">
    </a>
    <h2><a href="/services/well_intervention">Well Intervention</a></h2>
    <a href="/services/well_intervention/coiled_tubing">Coiled Tubing</a> |&nbsp;<a href="/services/well_intervention/wireline_cased_hole_intervention/resolve_wireline_intervention_tools">Wireline Intervention Services</a> |&nbsp;<a href="/services/well_intervention/slickline">Slickline Services</a> |&nbsp;<a href="/services/completions/subsea_landing_string">Subsea Landing String Services</a> |&nbsp;<a href="/services/well_intervention/fishing_services">Fishing Services</a> |&nbsp;<a href="/services/well_intervention/sidetracking-services">Sidetracking Whipstocks</a> |&nbsp;<a href="/services/well_intervention/thru_tubing_intervention">Thru-Tubing Intervention Tools</a> |&nbsp;<a href="/services/completions/stimulation">Stimulation</a> |&nbsp;<a href="/services/well_intervention/well_abandonment">Well Abandonment</a>
</div>
<div class="services_BodyContent">
    <h2><a href="/services/characterization/testing">Reservoir Testing</a></h2>
    <a href="/services/characterization/testing/well-test-interpretation">Well Test Design and Interpretation</a> |&nbsp;<a href="/services/characterization/testing/drillstem">Downhole Testing</a> |&nbsp;<a href="/services/characterization/testing/downhole_pressure_measure">Downhole Pressure Measurement</a> |&nbsp;<a href="/services/characterization/testing/reservoir_sampling">Reservoir Sampling and Analysis</a> |&nbsp;<a href="/services/characterization/testing/surface_testing">Surface Well Testing</a> |&nbsp;<a href="/services/characterization/testing/multiphase">Multiphase Well Testing and Monitoring</a>
</div>