<link href="~/Content/chamcss.css" rel="stylesheet" />

<div class="sidebar">

    @Html.ActionLink("Personal Information", "PersonalInfo")
    @Html.ActionLink("Salary Information", "SalaryInfo")
    @Html.ActionLink(" My Documents", "SalaryInfo")
    @Html.ActionLink(" Termination Status", "SalaryInfo")
</div>