@model List<najjar.biz.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2 class="text-center">Registered Users</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-10">
        <table class="table table-responsive table-hover">
            <tr>
                <th>User Name</th>
                <th>Employee Code</th>
                <th>User Type</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @Html.ActionLink("Personal Page",
                            "PersonalPage","Employee",
                            new { @Employeeid = user.EmployeeId},null)
                    </td>
                    <td>@user.UserType</td>
                    <td>@Html.ActionLink("Assign User to Role", "AssignUserRole", "Account",new { @UserId = user.Id },null)</td>
                </tr>
            }
        </table>
    </div>
</div>
