@model List<najjar.biz.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<div>
    <h2 style="color: #8b224e">Registered Users</h2>
    <br />

     <table id="myTable" class="table table table-striped table-hover col-sm-10 col-md-10">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Employee Code</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @Html.ActionLink("Personal Page",
                            "PersonalPage", "Employee",
                            new { @Employeeid = user.EmployeeId }, null)
                    </td>
                    <td>@user.UserType</td>
                    <td>@Html.ActionLink("Assign User to Role", "AssignUserRole", "Account", new { @UserId = user.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
    <br />


</div>