@{
    ViewBag.Title = "HSE Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <br />
            <ul class="nav nav-stacked nav-pills">

                <li id="HSE">
                    <a href="#">HSE</a>
                </li>
                <li id="HSEenv">
                    <a href="#">HSE Environment</a>
                </li>


            </ul>
        </div>
        <!--HSE -->
        <div class="col-md-9 col-sm-8" id="HSEDV">
            <h1 class="page-header">
                HSE
                <small>For Deeper Customization</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">HSE</li>
            </ol>
            <p>
                <div class="row contClass">
                    <div class="col-md-7 col-sm-7">
                        <br />
                        <ul class="list-group">
                            <li> <b>The company will make regular tests for pipes, drilling shafts and welds, the disposal of waste of drilling fluids of all kinds will be in suitable ways that do not cause pollution of the environment. </b></li>
                            <li> <b>T Solid waste management is also controlled, minimized, separated, treated and disposed of accordance with international standards.</b></li>
                            <li> <b>T The company seeks to take care of the health safety of employees, contractors and customers .it conducts regular inspections “We see safety as a priority for all”. </b></li>
                            <li><b>  We seek to ensure the safety of relationships with other companies, stakeholders and communities which we work with to build trust and ethical relationships ,in addition we will cooperate with environmental and other humanitarian organizations.</b></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 img-fluid" style="margin-top:10%; margin-right:5%">
                        <img src="" alt="This is image area" />
                    </div>
                </div>
            </p>
        </div>

        <!--Sickline-->
        <div class="col-md-9 col-sm-8" id="HSEenvDV">
            <h1 class="page-header">
                HSE Environment
                <small>For Deeper Customization</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">HSE Environment</li>
            </ol>
            <p>
                <div class="row contClass" style="margin-left:1%">
                <div class="col-md-7 col-sm-7">
                    <br />
                    <ul class="list-group">
                        <li><b> The company also believes that preserving the environment and health is an integral part of its work.</b></li>
                        <li> <b>It will continuously seek to improve it and spread environmental awareness among its employees and society so as to ensure compliance with the laws and legislations issued by the government.</b></li>
                        <li><b>  the company also have operational methods and advanced equipment that continuously measure the rate of toxic gases and monitor the level of (HS) in the field of work that in turn will limit any negative effects on the environment.</b></li>
                        <li><b>  It also continues to improve risk management programs related to the health and safety issues  of employees, contractors and others who may be exposed to the effects of the company's operations, because the safety of employees is the top concern of the </b>. </li>
                        <li><b>   Everyone is required to work during safe conditions and stop when these conditions are not available. </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 img-fluid" style="margin-top:10%; margin-right:5%">
                    <img src="" alt="This is image area" />
                </div>
        </div>
        </p>
    </div>

        
    <!-- /.row -->
</div>

@section Scripts
{
    <script type="text/javascript">
        function showDiv(x) {
            //var m = document.getElementById(x);
            //m.style.display = 'block';
            var m = '#' + x;
            $(m).addClass('active');
            m = m + 'DV';
            $(m).show();
           
           
        }

        //This code is fucked up and fuck my life -_-
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };


        $(document).ready(function () {
            $('#HSEDV').hide();
            $('#HSEenvDV').hide();
            var s = getUrlParameter('page');
            showDiv(s);          
        });

        $(function () {
            //LoadData();
            $("#HSE").click(function () {
                $('#HSEDV').show();
                $('#HSEenvDV').hide();

                //Hiding active class from side bar
                $('#HSE').addClass('active');
                $('#HSEenv').removeClass('active');
                
            });
        });

        $(function () {
            //LoadData();
            $("#HSEenv").click(function () {
                $('#HSEDV').hide();
                $('#HSEenvDV').show();

                //Hiding active class from side bar
                $('#HSE').removeClass('active');
                $('#HSEenv').addClass('active');

            });
        });
                     
     </script>
}  